<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{% block basic %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>
<body>
    {% block interior %}{% endblock %}
    <footer class="col-lg-12">
        <hr>
        <a href="{% url 'main' %}"><button>Powrót do strony głównej</button></a>
        {% if user.is_authenticated %}
            <p>Jesteś zalogowany jako {{ user.username }}</p>
            <p><a href="{% url 'logout' %}"><button>Wyloguj</button></a></p>
        {% endif %}
    </footer>
</body>
</html>